<nav class="navbar">
  <div class="nav-container">
    <a routerLink="/" class="logo">PORTAL VIJESTI</a>
    
    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active">Početna</a></li>
      
      @if (!isLoggedIn()) {
        <li><a routerLink="/login" routerLinkActive="active">Prijava</a></li>
      }

      @if (isLoggedIn() && isAdmin()) {
        <li><a routerLink="/admin-dashboard" class="admin-link">Administracija</a></li>
      }

      @if (isLoggedIn()) {
        <li><button (click)="logout()" class="logout-btn">Odjava</button></li>
      }
    </ul>
  </div>
</nav>